.margin-left10 {
    margin-left: 10px;
}
.margin-left20 {
    margin-left: 20px;
}
.margin-right5 {
    margin-right: 5px !important;
}
.margin-right20 {
    margin-right: 20px;
}
.margin-right50 {
    margin-right: 50px;
}
.margin-top7 {
    margin-top: 7px;
}
.text-normal {
    font-weight: normal;
}
.valign-top {
    vertical-align: top;
}
.login-logo, .register-logo { 
    font-size: 24px;
}

.pagination > .disabled > a {
    display: none;
}

.pagination > li > a {
    text-transform: capitalize;
}

.pointer {
    cursor: pointer;
}
span.required {
    color: red;
}

.form-error {
    border-color: #dd4b39;
}

.error-message {
    background-color: #f9f2f4;
    color: #c7254e;
    font-size: 10px;
    padding: 2px 4px;
    margin-top: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #000;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-color: #d2d6de;
    border-radius: 0;
    box-shadow: none;
}

.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #3c8dbc;
}

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

.progress {
    background-color: #e1e1e1;
    position: relative;
}
.progress .progress-bar span {
    left: 0;
    position: absolute;
    width: 100%;
}

.ui-menu .ui-menu-item {
    font-size: 11px;
}

.ui-tooltip {
    font-size: 10px;
    color: #fff;
    background: #222;
    border: 0px;
    box-shadow: none;
    padding: 3px 6px;
}

.bg1 { background-color: #adb4c2 !important; }
.bg2 { background-color: #c8ccd5 !important; }
.bg3 { background-color: #e2e4ea !important; }
.table-permissions a { color: #222; }

.customized_options{
	float:left;	
}

.customized_options .first, .customized_options .second, .customized_options .third, .customized_options .forth{
	margin:auto 15px auto 15px;	
}

.customized_options label {
    padding-right: 15px;
    width: 100%;
}

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.1  !important;
	opacity:1 !important;
	filter: alpha(opacity=100  !important);
}

.white_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index:1001;
	-moz-opacity: 1  !important;
	opacity:1 !important;
	filter: alpha(opacity=100  !important);
}

#addButton,#addCButton,#addAButton,#addRButton,#addGButton,.addSubButton{
	font-size: 35px;
    margin: 10px;
    line-height: 35px;
	text-decoration:none;
	cursor:pointer;
	float: right;
    margin-top: -57px;
}

.removeButton,.removeCButton,.removeRButton,.removeAButton,.removeSubButton{
	font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: right;
    margin-right: 17px;
}

/*Aziz css changes*/

.login-page, .register-page {
    background: #FFF;
}

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
    color: #faa61a;
}

.btn-primary {
    background-color: #faa61a;
    border-color: #faa61a;
    border: 1px solid;
    border-radius: 25px !important;
}


.skin-blue-light .main-header .navbar {
    background-color: #faa61a;
}

.skin-blue-light .main-header .logo {
    background-color: #faa61a;
    color: #FFFFFF;
    border-bottom: 0 solid transparent;
}

.skin-blue-light .main-header .logo:hover {
    background-color: #faa61a;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #c1d838 !important;
}

.btn-instagram, .btn-primary, .btn-default, #eventLink {
    color: #ffffff  !important;
    background-color: #faa61a  !important;
    border-color: rgba(0, 0, 0, 0.2)  !important;
    border: 1px solid  !important;
    border-radius: 25px  !important;
}

.btn-instagram:hover,.btn-instagram:active,.btn-instagram:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-default:hover, .btn-default:active, .btn-default:focus, #eventLink:hover, #eventLink:active, #eventLink:focus{
    color: #ffffff  !important;
    background-color: #12c2ed  !important;
    border-color: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid  !important;
    border-radius: 25px  !important;

}

#eventContent{
	color:#1e61ac;	
}

#eventLink{
	font-size:15px;	
	padding:10px;
}

.skin-blue-light .content-wrapper, .skin-blue-light .main-footer {
    border-left: 1px solid #efefef;
    background-color: #efefef;
}

.skin-blue-light .wrapper, .skin-blue-light .main-sidebar, .skin-blue-light .left-side {
    background-color: #efefef;
}

.box.box-primary {
    border-top-color: #1e61ac;
}

.skin-blue-light .sidebar a {
    color: #1e61ac;
    font-size: 15px;
}


.skin-blue-light .user-panel > .info, .skin-blue-light .user-panel > .info > a {
    color: #1e61ac;
    font-size: 16px;
}

.skin-blue-light .sidebar-menu > li:hover > a, .skin-blue-light .sidebar-menu > li.active > a {
    color: #1e61ac;
    background: #f4f4f5;
}


.skin-blue-light .treeview-menu > li.active > a, .skin-blue-light .treeview-menu > li > a:hover {
    color: #1e61ac;
}

.pagination > li > a {
    background: #faa61a;
    color: #fff;
}

.pagination > li > a:hover {
    background: #12c2ed;
    color: #fff;
}

.content-header > .breadcrumb > li > a {
    color: #337ab7;
    text-decoration: none;
    display: inline-block;
	font-size:18px;
}


.breadcrumb>.active {
    color: #337ab7;
    font-size: 18px;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    display: inline-block;
    font-size: 23px;
    margin: 0;
    line-height: 1;
	color: #337ab7;
}

.text-success {
    color: #c1d838;
}


.skin-blue-light .main-footer {
    border-top-color: #1e61ac;
	border-width:3px;
}


.main-footer {
   
    color: #337ab7;
    border-top: 3px solid #1e61ac;
}


.skin-blue-light .main-header li.user-header {
    background-color: #fff;
	 color: #337ab7;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    z-index: 5;
    color: #337ab7;
   
    font-size: 17px;
    margin-top: 10px;
}


.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
	border-top: 3px solid #1e61ac;
    background-color: #fff;
    padding: 10px;
}

.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
    background-color: #12c2ed;
}

.ui-widget-header {
    border: 1px solid #faa61a;
    background: #faa61a;
    color: #fff;
    font-weight: bold;
}




/* Aziz Css Changes End */


