/* ---------------------------------------------------------------------- */
/*  Basic Elements & Classes
/* ---------------------------------------------------------------------- */

body {
  color: #000;
  direction: ltr;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
  background: #ffffff !important;
  height: 100%;
}


/*::-moz-selection {
  background: #5f8295;
  text-shadow: none;
  color: white;
}*/

::selection {
  background: #5f8295;
  text-shadow: none;
  color: white;
}



a {
  color: #000;
}
a:focus, a:active {
  color: #000;
}

h4 a{
font-weight:bold;	
}

h1, h2, h3, h4 {
  font-family: sans-serif;/*"Raleway", */
  font-weight: 300;
}
.text-bold h1, h1.text-bold, h1 .text-bold, .text-bold h2, h2.text-bold, h2 .text-bold, .text-bold h3, h3.text-bold, h3 .text-bold, .text-bold h4, h4.text-bold, h4 .text-bold {
  font-weight: 600;
}

.ajax-white-backdrop {
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1049;
}

.ajax-white-backdrop:before {
  background: #000;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  top: 60px;
  left: 50%;
  margin-left: -20px;
  content: "";
  position: absolute;
}

.ajax-white-backdrop:after {
  content: "\f110";
  font-family: FontAwesome;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 60px;
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
/* ---------------------------------------------------------------------- */
/*  Utilities
/* ---------------------------------------------------------------------- */
.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.inline {
  display: inline;
}

.no-radius {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

.no-border {
  border: none !important;
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-color: inherit;
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-color: inherit;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: inherit;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: inherit;
}

.border-light {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.panel-white .border-light, .partition-white .border-light {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.border-dark {
  border-color: rgba(0, 0, 0, 0.2);
}

.panel-white .border-dark, .partition-white .border-dark {
  border-color: rgba(0, 0, 0, 0.3) !important;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.no-display {
  display: none;
}

.example {
  margin: 15px 0;
  padding: 14px 19px;
}

.space5 {
  display: block;
  margin-bottom: 5px !important;
  clear: both;
}

.space7 {
  margin-bottom: 7px !important;
  clear: both;
}

.space10 {
  margin-bottom: 10px !important;
  clear: both;
}

.space12 {
  margin-bottom: 12px !important;
  clear: both;
}

.space15 {
  margin-bottom: 15px !important;
  clear: both;
}

.space20 {
  margin-bottom: 20px !important;
  clear: both;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-horizontal-5 {
  padding: 0 5px !important;
}

.padding-horizontal-10 {
  padding: 0 10px !important;
}

.padding-horizontal-15 {
  padding: 0 15px !important;
}

.padding-horizontal-20 {
  padding: 0 20px !important;
}

.padding-vertical-10 {
  padding: 10px 0 !important;
}

.padding-vertical-15 {
  padding: 15px 0 !important;
}

.padding-vertical-20 {
  padding: 20px 0 !important;
}

.padding-bottom-5 {
  padding: 0 0 5px 0 !important;
}

.padding-bottom-10 {
  padding: 0 0 10px 0 !important;
}

.padding-bottom-15 {
  padding: 0 0 15px 0 !important;
}

.margin-bottom-5 {
  margin: 0 0 5px 0 !important;
}

.margin-bottom-10 {
  margin: 0 0 10px 0 !important;
}

.margin-bottom-15 {
  margin: 0 0 15px 0 !important;
}

.margin-bottom-30 {
  margin: 0 0 30px 0 !important;
}

.margin-right-5 {
  margin: 0 5px 0 0 !important;
}

.margin-right-10 {
  margin: 0 10px 0 0 !important;
}

.margin-right-15 {
  margin: 0 15px 0 0 !important;
}

.margin-right-30 {
  margin: 0 30px 0 0 !important;
}

.height-155 {
  height: 155px !important;
}

.height-180 {
  height: 180px !important;
}

.height-200 {
  height: 200px !important;
}

.height-230 {
  height: 230px !important;
}

.height-250 {
  height: 250px !important;
}

.height-300 {
  height: 300px !important;
}

.height-350 {
  height: 350px !important;
}

.width-200 {
  width: 200px !important;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.text-bold {
  font-weight: bold;
}

.text-extra-small {
  font-size: 11px !important;
}

.text-small {
  font-size: 12px !important;
}

.text-large {
  font-size: 16px !important;
}

.text-extra-large {
  font-size: 18px !important;
}

h1.text-extra-large {
  font-size: 50px !important;
}

.text-azure {
  color: #00bdcc;
}

.text-orange {
  color: #f58a5c;
}

.text-green {
  color: #1fbba6;
}

.text-blue {
  color: #5f8295;
}

.text-pink {
  color: #dd5a82;
}

.text-purple {
  color: #dd5a82;
}

.text-bricky {
  color: #894550;
}

.text-yellow {
  color: #ffb848;
}

.text-red {
  color: #e66b6b;
}

.text-white {
  color: white;
}

a.text-white {
  color: rgba(255, 255, 255, 0.6);
}
a.text-white:hover {
  color: white;
}

.text-dark {
  color: rgba(44, 47, 59, 0.4);
}

a.text-dark:hover {
  color: rgba(44, 47, 59, 0.6);
}

.center {
  text-align: center;
}

.text-light {
  color: rgba(255, 255, 255, 0.6);
}

a.text-light:hover {
  color: rgba(255, 255, 255, 0.8);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.panel-white .text-light, .partition-white .text-light {
  color: rgba(0, 0, 0, 0.3) !important;
}

.panel-white a.text-light:hover, .partition-white a.text-light:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}

.circle-100 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-shadow: 0 1px 2px #c3c3c3;
  -moz-box-shadow: 0 1px 2px #c3c3c3;
  box-shadow: 0 1px 2px #c3c3c3;
}

.circle-50 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 55px;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0 1px 2px #c3c3c3;
  -moz-box-shadow: 0 1px 2px #c3c3c3;
  box-shadow: 0 1px 2px #c3c3c3;
}

.rate .value {
  font-size: 30px;
  font-weight: 600;
}
.rate i {
  vertical-align: middle;
  padding-bottom: 15px;
}
.rate .percentage {
  vertical-align: middle;
  font-size: 15px;
  padding-bottom: 15px;
}
.rate img {
  display: block;
  position: relative;
  width: 100%;
}

.overlayer {
  display: block;
  position: absolute;
  z-index: 101;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0px, #000000 100%);
  opacity: 1;
}
.overlayer.fullwidth {
  width: 100%;
}
.overlayer .overlayer-wrapper {
  display: block;
  position: relative;
  z-index: 100;
}

.bottom-left {
  bottom: 0;
  left: 0;
  position: absolute;
}

.tags {
  display: inline-block;
  background: #C2C6CD;
  color: white !important;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 10px 18px;
  padding: 2px 10px 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  transition: all .25s linear;
  white-space: nowrap;
  line-height: 21px;
}
.tags:before {
  content: "";
  border-style: solid;
  border-color: transparent #c5c5c5 transparent transparent;
  border-width: 12px 13px 12px 0;
  position: absolute;
  left: -13px;
  top: 0;
  transition: all .25s linear;
}
.tags:hover {
  background-color: #8B91A0;
  color: #FFFFFF;
}
.tags:hover:before {
  border-color: transparent #8B91A0 transparent transparent;
}
.tags:after {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 50% 50% 50% 50%;
  content: "";
  height: 5px;
  left: -1px;
  position: absolute;
  top: 10px;
  width: 5px;
}

.tooltip-notification {
  cursor: pointer;
  right: 0;
  margin-top: 3px;
  padding: 5px 0;
  position: absolute;
  top: 25px;
  z-index: 10000;
}
.toolbar .tooltip-notification {
  top: 60px;
  right: 20px;
}
.tooltip-notification .tooltip-notification-arrow {
  border-width: 0 5px 5px;
  left: 80%;
  margin-left: -5px;
  top: 0;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #292B2E;
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
}
.tooltip-notification .tooltip-notification-inner {
  background-color: #292B2E;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  line-height: normal;
}
.tooltip-notification .tooltip-notification-inner .message {
  color: #BFC0C1;
  font-size: 11px;
  margin-top: -4px;
}
.tooltip-notification .tooltip-notification-inner > div {
  width: 100px;
}

.float-none {
  float: none;
}

.background-dark {
  background: rgba(0, 0, 0, 0.2);
}

.background-light {
  background: rgba(255, 255, 255, 0.6) !important;
}

.radius-3 {
  border-radius: 3px;
}

.radius-5 {
  border-radius: 5px;
}

.radius-10 {
  border-radius: 10px;
}

.stack-right-bottom {
  left: auto !important;
  right: -0.5em !important;
  top: auto !important;
  bottom: -0.5em !important;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.noTransform {
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}
/* ---------------------------------------------------------------------- */
/*  Forms
/* ---------------------------------------------------------------------- */
textarea, select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  background-color: #FFFFFF;
  border: 1px solid #087dc2;
  border-radius: 0 0 0 0 !important;
  color: #000;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;
  padding: 5px 4px;
  transition-duration: 0.1s;
  box-shadow: none !important;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -ms-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
textarea:hover, select:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover {
  border-color: #398439;
}
textarea:focus, select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
  box-shadow: none !important;
  border-color: #398439 !important;
  border: 1px solid #398439 !important;
  background-color: #fff !important;
  color:#000;
}

textarea[disabled], input[disabled], select[disabled] {
  background: #F8F8F8 !important;
  border-color: #F8F8F8 !important;
}
textarea[disabled]:hover, textarea[disabled]:focus, input[disabled]:hover, input[disabled]:focus, select[disabled]:hover, select[disabled]:focus {
  background: #F8F8F8 !important;
  border-color: #F8F8F8 !important;
}

.input-group-addon {
  background-color: #fade03;
  /*border: 1px solid #0B8B4E;*/
  color: white;
}

select option {
  background-color: white !important;
}

select[multiple="multiple"]:focus option {
  background: #F8F8F8 !important;
}

.has-error .form-control:focus, .has-warning .form-control:focus, .has-success .form-control:focus {
  box-shadow: none;
  border: 1px solid #E6E8E8;
  background-color: #E6E8E8;
}

label {
    color: #555;
    font-size: 13px;
    font-weight: 600;
}

span.input-icon, span.input-help {
  display: block;
  position: relative;
}

.input-icon > input {
  padding-left: 25px;
  padding-right: 6px;
}

.input-icon.input-icon-right > input {
  padding-left: 6px;
  padding-right: 25px;
}

span.input-help > input {
  padding-left: 30px;
  padding-right: 6px;
}

.input-icon > [class*="fa-"], .input-icon > [class*="clip-"] {
  bottom: 0;
  color: #909090;
  display: inline-block;
  font-size: 14px;
  left: 5px;
  line-height: 35px;
  padding: 0 3px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.input-icon.input-icon-right > [class*="fa-"], .input-icon.input-icon-right > [class*="clip-"] {
  left: auto;
  right: 4px;
}

.input-icon > input:focus + [class*="fa-"], .input-icon > input:focus + [class*="clip-"] {
  color: #557799;
}

.help-button {
  background-color: #65BCDA;
  border-radius: 100% 100% 100% 100%;
  color: #FFFFFF;
  cursor: default;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  padding: 0;
  text-align: center;
  width: 20px;
  line-height: 20px;
  top: 7px;
  left: 7px;
}

.help-button:before {
  content: "\f128";
  display: inline;
  font-family: FontAwesome;
  font-weight: 300;
  height: auto;
  text-shadow: none;
  font-style: normal;
}

select.form-control {
  background-color: #FFFFFF;
  border: 1px solid #D5D5D5;
  border-radius: 0 0 0 0;
  color: #000;
}

select.form-control option {
  padding: 3px 4px;
}

.form-control.search-select {
  padding: 0 !important;
  box-shadow: none;
  border: none;
  padding-right: 25px;
  overflow:hidden;
}

textarea.autosize {
  vertical-align: top;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
  overflow: hidden;
  word-wrap: break-word;
  resize: horizontal;
  height: 69px;
}

.radio label.radio-inline, .checkbox label.checkbox-inline {
  display: inline-block;
}

.radio-inline, .radio-inline + .radio-inline, .checkbox-inline, .checkbox-inline + .checkbox-inline {
  margin-right: 10px !important;
  margin-top: 5px !important;
  margin-left: 0 !important;
  margin-bottom: 10px !important;
}

.radio label, .checkbox label {
  margin-bottom: 5px;
}

.checkbox-table {
  display: inline-block;
  margin: 2px 0 0 0;
  padding-left: 20px;
  line-height: 10px;
}

.checkbox-table label {
  margin-bottom: 0;
}

[class^="icheckbox_"], [class*="icheckbox_"], [class^="iradio_"], [class*="iradio_"] {
  float: left !important;
  margin: 0 5px 0 -20px !important;
}

.help-inline {
  margin-top: 6px;
  color: #737373;
}

.help-block.error {
  color: #B94A48;
}

.symbol.required:before {
  content: "*";
  display: inline;
  color: #E6674A;
}

.symbol.ok:before {
  content: "\f00c";
  display: inline;
  font-family: FontAwesome;
  color: #468847;
}

.has-error .note-editor, .has-error .cke_chrome {
  border-color: #B94A48 !important;
}

.form-group {
  position: relative;
}

.form-group .text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: 7px;
}
/* ---------------------------------------------------------------------- */
/*  Labels and Badges
/* ---------------------------------------------------------------------- */

.label {
  font-size: 85% !important;
  padding: 0.4em 0.6em !important;
}

.label-inverse, .badge-inverse {
  background-color: #555555;
}
/* ---------------------------------------------------------------------- */
/*  Style Selector
/* ---------------------------------------------------------------------- */
#style_selector_container {
  padding: 0 20px 10px;
}

.style-main-title {
  background: #D9D9D9;
  border-bottom: 1px solid rgba(23, 24, 26, 0.15);
  color: #000000;
  font-size: 15px;
  height: 44px;
  line-height: 44px;
  text-align: center;
}

.box-title {
  font-size: 12px;
  height: 33px;
  line-height: 33px;
  text-align: center;
}

.input-box {
  padding-bottom: 10px;
  text-align: center;
}

#style_selector .style-toggle {
  background: #ffffff;
  cursor: pointer;
  height: 44px;
  width: 35px;
  border: 1px solid rgba(23, 24, 26, 0.15);
  border-right: none;
  border-radius: 5px 0 0 5px;
  line-height: 44px;
  text-align: center;
  color: #007AFF;
  font-size: 14px;
  colro:#000;
}

#style_selector > .open:before {
  content: "\e162";
  font-family: 'clip-font';
  line-height: 1;
}

#style_selector > .open {
  background-position: left top;
  left: -35px;
  position: absolute;
  top: 44px;
  width: 35px;
  opacity: 1;
}

#style_selector > .close:before {
  content: "\e163";
  font-family: 'clip-font';
  line-height: 1;
}

#style_selector > .close {
  background-position: left bottom;
  position: absolute;
  right: 0;
  top: 45px;
  width: 35px;
  opacity: 0.9;
}

#style_selector .images {
  padding-bottom: 10px;
  text-align: center;
  position: relative;
}

#style_selector .images img {
  height: 32px;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 32px;
  z-index: 1000;
}

#style_selector .images .form-group {
  width: 50px;
  text-align: center;
  color: #AAA9A9;
  font-size: 10px;
  margin-bottom: 0;
}

#style_selector .images input {
  display: none;
}

#style_selector .images .form-group {
  display: inline-block;
}

#style_selector .images .add-on {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  display: inline-block;
  font-weight: normal;
  line-height: 20px;
  min-width: 20px;
  padding: 5px;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
  width: auto;
  margin-left: 2px;
}

#style_selector .images .add-on i {
  cursor: pointer;
  display: block;
  height: 20px;
  width: 20px;
}

#style_selector .clear_style {
  margin-right: 20px;
}

.style-options {
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.style-options a {
  color: #e6e6e6;
}
/* ---------------------------------------------------------------------- */
/*  Buttons
/* ---------------------------------------------------------------------- */
.btn {
  transition: all 0.3s ease 0s !important;
}

.btn-azure {
  background-color: #00bdcc;
  border-color: #00a5b3;
  color: white;
}
.btn-azure:hover, .btn-azure:focus, .btn-azure:active, .btn-azure.active {
  background-color: #00a5b3;
  border-color: #008e99;
  color: white;
}
.btn-azure.disabled:hover, .btn-azure.disabled:focus, .btn-azure.disabled:active, .btn-azure.disabled.active, .btn-azure[disabled]:hover, .btn-azure[disabled]:focus, .btn-azure[disabled]:active, .btn-azure[disabled].active, fieldset[disabled] .btn-azure:hover, fieldset[disabled] .btn-azure:focus, fieldset[disabled] .btn-azure:active, fieldset[disabled] .btn-azure.active {
  background-color: #e5fdff;
  border-color: #ccfbff;
  color: white;
}
.btn-azure .caret {
  border-top-color: white;
}
.dropup .btn-azure .caret {
  border-bottom: 4px solid white;
}

.btn-light-azure {
  background-color: #00d5e6;
  border-color: #00bdcc;
  color: white;
}
.btn-light-azure:hover, .btn-light-azure:focus, .btn-light-azure:active, .btn-light-azure.active {
  background-color: #00bdcc;
  border-color: #00a5b3;
  color: white;
}
.btn-light-azure.disabled:hover, .btn-light-azure.disabled:focus, .btn-light-azure.disabled:active, .btn-light-azure.disabled.active, .btn-light-azure[disabled]:hover, .btn-light-azure[disabled]:focus, .btn-light-azure[disabled]:active, .btn-light-azure[disabled].active, fieldset[disabled] .btn-light-azure:hover, fieldset[disabled] .btn-light-azure:focus, fieldset[disabled] .btn-light-azure:active, fieldset[disabled] .btn-light-azure.active {
  background-color: white;
  border-color: #e5fdff;
  color: white;
}
.btn-light-azure .caret {
  border-top-color: white;
}
.dropup .btn-light-azure .caret {
  border-bottom: 4px solid white;
}

.btn-dark-azure {
  background-color: #008e99;
  border-color: #007680;
  color: white;
}
.btn-dark-azure:hover, .btn-dark-azure:focus, .btn-dark-azure:active, .btn-dark-azure.active {
  background-color: #007680;
  border-color: #005f66;
  color: white;
}
.btn-dark-azure.disabled:hover, .btn-dark-azure.disabled:focus, .btn-dark-azure.disabled:active, .btn-dark-azure.disabled.active, .btn-dark-azure[disabled]:hover, .btn-dark-azure[disabled]:focus, .btn-dark-azure[disabled]:active, .btn-dark-azure[disabled].active, fieldset[disabled] .btn-dark-azure:hover, fieldset[disabled] .btn-dark-azure:focus, fieldset[disabled] .btn-dark-azure:active, fieldset[disabled] .btn-dark-azure.active {
  background-color: #b3f9ff;
  border-color: #99f8ff;
  color: white;
}
.btn-dark-azure .caret {
  border-top-color: white;
}
.dropup .btn-dark-azure .caret {
  border-bottom: 4px solid white;
}

.btn-blue {
  background-color: #087dc2;
  border-color: #087dc2;
  color: white;
  font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active {
  background-color: #087dc2;
  border-color: #087dc2;
  color: white;
}
.btn-blue.disabled:hover, .btn-blue.disabled:focus, .btn-blue.disabled:active, .btn-blue.disabled.active, .btn-blue[disabled]:hover, .btn-blue[disabled]:focus, .btn-blue[disabled]:active, .btn-blue[disabled].active, fieldset[disabled] .btn-blue:hover, fieldset[disabled] .btn-blue:focus, fieldset[disabled] .btn-blue:active, fieldset[disabled] .btn-blue.active {
  background-color: white;
  border-color: #f8fafb;
  color: white;
}
.btn-blue .caret {
  border-top-color: white;
}
.dropup .btn-blue .caret {
  border-bottom: 4px solid white;
}

.btn-light-blue {
  background-color: #7c9bab;
  border-color: #6c8fa1;
  color: white;
}
.btn-light-blue:hover, .btn-light-blue:focus, .btn-light-blue:active, .btn-light-blue.active {
  background-color: #6c8fa1;
  border-color: #5f8295;
  color: white;
}
.btn-light-blue.disabled:hover, .btn-light-blue.disabled:focus, .btn-light-blue.disabled:active, .btn-light-blue.disabled.active, .btn-light-blue[disabled]:hover, .btn-light-blue[disabled]:focus, .btn-light-blue[disabled]:active, .btn-light-blue[disabled].active, fieldset[disabled] .btn-light-blue:hover, fieldset[disabled] .btn-light-blue:focus, fieldset[disabled] .btn-light-blue:active, fieldset[disabled] .btn-light-blue.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-light-blue .caret {
  border-top-color: white;
}
.dropup .btn-light-blue .caret {
  border-bottom: 4px solid white;
}

.btn-dark-blue {
  background-color: #4b6776;
  border-color: #415966;
  color: white;
}
.btn-dark-blue:hover, .btn-dark-blue:focus, .btn-dark-blue:active, .btn-dark-blue.active {
  background-color: #415966;
  border-color: #374c57;
  color: white;
}
.btn-dark-blue.disabled:hover, .btn-dark-blue.disabled:focus, .btn-dark-blue.disabled:active, .btn-dark-blue.disabled.active, .btn-dark-blue[disabled]:hover, .btn-dark-blue[disabled]:focus, .btn-dark-blue[disabled]:active, .btn-dark-blue[disabled].active, fieldset[disabled] .btn-dark-blue:hover, fieldset[disabled] .btn-dark-blue:focus, fieldset[disabled] .btn-dark-blue:active, fieldset[disabled] .btn-dark-blue.active {
  background-color: #e9eef1;
  border-color: #d9e2e7;
  color: white;
}
.btn-dark-blue .caret {
  border-top-color: white;
}
.dropup .btn-dark-blue .caret {
  border-bottom: 4px solid white;
}
.floatleft{
	float:left;
}
.floatright{
	float:right;
}
.nomargin{
	margin:0px !important;	
}
.btn-lgreen {
	background-color: #98ce44  !important;
	border:0px;
	border-color: #98ce44 ;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin-top: 15px;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
  
}
.btn-green {
	background-color: #087dc2;
	border:0px;
	border-color: #087dc2;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
  
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active {
  background-color: #fade03 ;
  border-color: #fade03 ;
  color: white;
}
.btn-green.disabled:hover, .btn-green.disabled:focus, .btn-green.disabled:active, .btn-green.disabled.active, .btn-green[disabled]:hover, .btn-green[disabled]:focus, .btn-green[disabled]:active, .btn-green[disabled].active, fieldset[disabled] .btn-green:hover, fieldset[disabled] .btn-green:focus, fieldset[disabled] .btn-green:active, fieldset[disabled] .btn-green.active {
  background-color: #f5fdfc;
  border-color: #dffaf6;
  color: white;
}
.btn-green .caret {
  border-top-color: white;
}
.dropup .btn-green .caret {
  border-bottom: 4px solid white;
}

.btn-light-green {
  background-color: #30ddc6;
  border-color: #23d1b9;
  color: white;
}
.btn-light-green:hover, .btn-light-green:focus, .btn-light-green:active, .btn-light-green.active {
  background-color: #23d1b9;
  border-color: #1fbba6;
  color: white;
}
.btn-light-green.disabled:hover, .btn-light-green.disabled:focus, .btn-light-green.disabled:active, .btn-light-green.disabled.active, .btn-light-green[disabled]:hover, .btn-light-green[disabled]:focus, .btn-light-green[disabled]:active, .btn-light-green[disabled].active, fieldset[disabled] .btn-light-green:hover, fieldset[disabled] .btn-light-green:focus, fieldset[disabled] .btn-light-green:active, fieldset[disabled] .btn-light-green.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-light-green .caret {
  border-top-color: white;
}
.dropup .btn-light-green .caret {
  border-bottom: 4px solid white;
}

.btn-dark-green {
  background-color: #188f7f;
  border-color: #14796c;
  color: white;
}
.btn-dark-green:hover, .btn-dark-green:focus, .btn-dark-green:active, .btn-dark-green.active {
  background-color: #14796c;
  border-color: #106458;
  color: white;
}
.btn-dark-green.disabled:hover, .btn-dark-green.disabled:focus, .btn-dark-green.disabled:active, .btn-dark-green.disabled.active, .btn-dark-green[disabled]:hover, .btn-dark-green[disabled]:focus, .btn-dark-green[disabled]:active, .btn-dark-green[disabled].active, fieldset[disabled] .btn-dark-green:hover, fieldset[disabled] .btn-dark-green:focus, fieldset[disabled] .btn-dark-green:active, fieldset[disabled] .btn-dark-green.active {
  background-color: #c9f6f0;
  border-color: #b4f2ea;
  color: white;
}
.btn-dark-green .caret {
  border-top-color: white;
}
.dropup .btn-dark-green .caret {
  border-bottom: 4px solid white;
}

.btn-orange {
  background-color: #f58a5c;
  border-color: #f47944;
  color: white;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active {
  background-color: #f47944;
  border-color: #f2682c;
  color: white;
}
.btn-orange.disabled:hover, .btn-orange.disabled:focus, .btn-orange.disabled:active, .btn-orange.disabled.active, .btn-orange[disabled]:hover, .btn-orange[disabled]:focus, .btn-orange[disabled]:active, .btn-orange[disabled].active, fieldset[disabled] .btn-orange:hover, fieldset[disabled] .btn-orange:focus, fieldset[disabled] .btn-orange:active, fieldset[disabled] .btn-orange.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-orange .caret {
  border-top-color: white;
}
.dropup .btn-orange .caret {
  border-bottom: 4px solid white;
}

.btn-light-orange {
  background-color: #f8ac8c;
  border-color: #f69b74;
  color: white;
}
.btn-light-orange:hover, .btn-light-orange:focus, .btn-light-orange:active, .btn-light-orange.active {
  background-color: #f69b74;
  border-color: #f58a5c;
  color: white;
}
.btn-light-orange.disabled:hover, .btn-light-orange.disabled:focus, .btn-light-orange.disabled:active, .btn-light-orange.disabled.active, .btn-light-orange[disabled]:hover, .btn-light-orange[disabled]:focus, .btn-light-orange[disabled]:active, .btn-light-orange[disabled].active, fieldset[disabled] .btn-light-orange:hover, fieldset[disabled] .btn-light-orange:focus, fieldset[disabled] .btn-light-orange:active, fieldset[disabled] .btn-light-orange.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-light-orange .caret {
  border-top-color: white;
}
.dropup .btn-light-orange .caret {
  border-bottom: 4px solid white;
}

.btn-dark-orange {
  background-color: #f2682c;
  border-color: #f15614;
  color: white;
}
.btn-dark-orange:hover, .btn-dark-orange:focus, .btn-dark-orange:active, .btn-dark-orange.active {
  background-color: #f15614;
  border-color: #dd4c0e;
  color: white;
}
.btn-dark-orange.disabled:hover, .btn-dark-orange.disabled:focus, .btn-dark-orange.disabled:active, .btn-dark-orange.disabled.active, .btn-dark-orange[disabled]:hover, .btn-dark-orange[disabled]:focus, .btn-dark-orange[disabled]:active, .btn-dark-orange[disabled].active, fieldset[disabled] .btn-dark-orange:hover, fieldset[disabled] .btn-dark-orange:focus, fieldset[disabled] .btn-dark-orange:active, fieldset[disabled] .btn-dark-orange.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-dark-orange .caret {
  border-top-color: white;
}
.dropup .btn-dark-orange .caret {
  border-bottom: 4px solid white;
}

.btn-red {
  background-color: #e66b6b;
  border-color: #e25555;
  color: white;
}
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active {
  background-color: #e25555;
  border-color: #df3f3f;
  color: white;
}
.btn-red.disabled:hover, .btn-red.disabled:focus, .btn-red.disabled:active, .btn-red.disabled.active, .btn-red[disabled]:hover, .btn-red[disabled]:focus, .btn-red[disabled]:active, .btn-red[disabled].active, fieldset[disabled] .btn-red:hover, fieldset[disabled] .btn-red:focus, fieldset[disabled] .btn-red:active, fieldset[disabled] .btn-red.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-red .caret {
  border-top-color: white;
}
.dropup .btn-red .caret {
  border-bottom: 4px solid white;
}

.btn-light-red {
  background-color: #ed9797;
  border-color: #ea8181;
  color: white;
}
.btn-light-red:hover, .btn-light-red:focus, .btn-light-red:active, .btn-light-red.active {
  background-color: #ea8181;
  border-color: #e66b6b;
  color: white;
}
.btn-light-red.disabled:hover, .btn-light-red.disabled:focus, .btn-light-red.disabled:active, .btn-light-red.disabled.active, .btn-light-red[disabled]:hover, .btn-light-red[disabled]:focus, .btn-light-red[disabled]:active, .btn-light-red[disabled].active, fieldset[disabled] .btn-light-red:hover, fieldset[disabled] .btn-light-red:focus, fieldset[disabled] .btn-light-red:active, fieldset[disabled] .btn-light-red.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-light-red .caret {
  border-top-color: white;
}
.dropup .btn-light-red .caret {
  border-bottom: 4px solid white;
}

.btn-dark-red {
  background-color: #df3f3f;
  border-color: #db2a2a;
  color: white;
}
.btn-dark-red:hover, .btn-dark-red:focus, .btn-dark-red:active, .btn-dark-red.active {
  background-color: #db2a2a;
  border-color: #c92222;
  color: white;
}
.btn-dark-red.disabled:hover, .btn-dark-red.disabled:focus, .btn-dark-red.disabled:active, .btn-dark-red.disabled.active, .btn-dark-red[disabled]:hover, .btn-dark-red[disabled]:focus, .btn-dark-red[disabled]:active, .btn-dark-red[disabled].active, fieldset[disabled] .btn-dark-red:hover, fieldset[disabled] .btn-dark-red:focus, fieldset[disabled] .btn-dark-red:active, fieldset[disabled] .btn-dark-red.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-dark-red .caret {
  border-top-color: white;
}
.dropup .btn-dark-red .caret {
  border-bottom: 4px solid white;
}

.btn-purple {
  background-color: #804c75;
  border-color: #704366;
  color: white;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active {
  background-color: #704366;
  border-color: #603958;
  color: white;
}
.btn-purple.disabled:hover, .btn-purple.disabled:focus, .btn-purple.disabled:active, .btn-purple.disabled.active, .btn-purple[disabled]:hover, .btn-purple[disabled]:focus, .btn-purple[disabled]:active, .btn-purple[disabled].active, fieldset[disabled] .btn-purple:hover, fieldset[disabled] .btn-purple:focus, fieldset[disabled] .btn-purple:active, fieldset[disabled] .btn-purple.active {
  background-color: #f5eff4;
  border-color: #ecdfe9;
  color: white;
}
.btn-purple .caret {
  border-top-color: white;
}
.dropup .btn-purple .caret {
  border-bottom: 4px solid white;
}

.btn-light-purple {
  background-color: #a05f92;
  border-color: #905684;
  color: white;
}
.btn-light-purple:hover, .btn-light-purple:focus, .btn-light-purple:active, .btn-light-purple.active {
  background-color: #905684;
  border-color: #804c75;
  color: white;
}
.btn-light-purple.disabled:hover, .btn-light-purple.disabled:focus, .btn-light-purple.disabled:active, .btn-light-purple.disabled.active, .btn-light-purple[disabled]:hover, .btn-light-purple[disabled]:focus, .btn-light-purple[disabled]:active, .btn-light-purple[disabled].active, fieldset[disabled] .btn-light-purple:hover, fieldset[disabled] .btn-light-purple:focus, fieldset[disabled] .btn-light-purple:active, fieldset[disabled] .btn-light-purple.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-light-purple .caret {
  border-top-color: white;
}
.dropup .btn-light-purple .caret {
  border-bottom: 4px solid white;
}

.btn-dark-purple {
  background-color: #603958;
  border-color: #503049;
  color: white;
}
.btn-dark-purple:hover, .btn-dark-purple:focus, .btn-dark-purple:active, .btn-dark-purple.active {
  background-color: #503049;
  border-color: #40263b;
  color: white;
}
.btn-dark-purple.disabled:hover, .btn-dark-purple.disabled:focus, .btn-dark-purple.disabled:active, .btn-dark-purple.disabled.active, .btn-dark-purple[disabled]:hover, .btn-dark-purple[disabled]:focus, .btn-dark-purple[disabled]:active, .btn-dark-purple[disabled].active, fieldset[disabled] .btn-dark-purple:hover, fieldset[disabled] .btn-dark-purple:focus, fieldset[disabled] .btn-dark-purple:active, fieldset[disabled] .btn-dark-purple.active {
  background-color: #e3cfde;
  border-color: #d9bfd4;
  color: white;
}
.btn-dark-purple .caret {
  border-top-color: white;
}
.dropup .btn-dark-purple .caret {
  border-bottom: 4px solid white;
}

.btn-beige {
  background-color: #cccc99;
  border-color: #c3c488;
  color: white;
}
.btn-beige:hover, .btn-beige:focus, .btn-beige:active, .btn-beige.active {
  background-color: #c3c488;
  border-color: #bbbb77;
  color: white;
}
.btn-beige.disabled:hover, .btn-beige.disabled:focus, .btn-beige.disabled:active, .btn-beige.disabled.active, .btn-beige[disabled]:hover, .btn-beige[disabled]:focus, .btn-beige[disabled]:active, .btn-beige[disabled].active, fieldset[disabled] .btn-beige:hover, fieldset[disabled] .btn-beige:focus, fieldset[disabled] .btn-beige:active, fieldset[disabled] .btn-beige.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-beige .caret {
  border-top-color: white;
}
.dropup .btn-beige .caret {
  border-bottom: 4px solid white;
}

.btn-light-beige {
  background-color: #d5d5aa;
  border-color: #cccc99;
  color: white;
}
.btn-light-beige:hover, .btn-light-beige:focus, .btn-light-beige:active, .btn-light-beige.active {
  background-color: #cccc99;
  border-color: #c3c488;
  color: white;
}
.btn-light-beige.disabled:hover, .btn-light-beige.disabled:focus, .btn-light-beige.disabled:active, .btn-light-beige.disabled.active, .btn-light-beige[disabled]:hover, .btn-light-beige[disabled]:focus, .btn-light-beige[disabled]:active, .btn-light-beige[disabled].active, fieldset[disabled] .btn-light-beige:hover, fieldset[disabled] .btn-light-beige:focus, fieldset[disabled] .btn-light-beige:active, fieldset[disabled] .btn-light-beige.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-light-beige .caret {
  border-top-color: white;
}
.dropup .btn-light-beige .caret {
  border-bottom: 4px solid white;
}

.btn-dark-beige {
  background-color: #bbbb77;
  border-color: #b3b366;
  color: white;
}
.btn-dark-beige:hover, .btn-dark-beige:focus, .btn-dark-beige:active, .btn-dark-beige.active {
  background-color: #b3b366;
  border-color: #aaaa55;
  color: white;
}
.btn-dark-beige.disabled:hover, .btn-dark-beige.disabled:focus, .btn-dark-beige.disabled:active, .btn-dark-beige.disabled.active, .btn-dark-beige[disabled]:hover, .btn-dark-beige[disabled]:focus, .btn-dark-beige[disabled]:active, .btn-dark-beige[disabled].active, fieldset[disabled] .btn-dark-beige:hover, fieldset[disabled] .btn-dark-beige:focus, fieldset[disabled] .btn-dark-beige:active, fieldset[disabled] .btn-dark-beige.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-dark-beige .caret {
  border-top-color: white;
}
.dropup .btn-dark-beige .caret {
  border-bottom: 4px solid white;
}

.btn-yellow {
  background-color: #ffb848;
  border-color: #ffae2e;
  color: white;
}
.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow.active {
  background-color: #ffae2e;
  border-color: #ffa415;
  color: white;
}
.btn-yellow.disabled:hover, .btn-yellow.disabled:focus, .btn-yellow.disabled:active, .btn-yellow.disabled.active, .btn-yellow[disabled]:hover, .btn-yellow[disabled]:focus, .btn-yellow[disabled]:active, .btn-yellow[disabled].active, fieldset[disabled] .btn-yellow:hover, fieldset[disabled] .btn-yellow:focus, fieldset[disabled] .btn-yellow:active, fieldset[disabled] .btn-yellow.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-yellow .caret {
  border-top-color: white;
}
.dropup .btn-yellow .caret {
  border-bottom: 4px solid white;
}

.btn-light-yellow {
  background-color: #ffcc7b;
  border-color: #ffc261;
  color: white;
}
.btn-light-yellow:hover, .btn-light-yellow:focus, .btn-light-yellow:active, .btn-light-yellow.active {
  background-color: #ffc261;
  border-color: #ffb848;
  color: white;
}
.btn-light-yellow.disabled:hover, .btn-light-yellow.disabled:focus, .btn-light-yellow.disabled:active, .btn-light-yellow.disabled.active, .btn-light-yellow[disabled]:hover, .btn-light-yellow[disabled]:focus, .btn-light-yellow[disabled]:active, .btn-light-yellow[disabled].active, fieldset[disabled] .btn-light-yellow:hover, fieldset[disabled] .btn-light-yellow:focus, fieldset[disabled] .btn-light-yellow:active, fieldset[disabled] .btn-light-yellow.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-light-yellow .caret {
  border-top-color: white;
}
.dropup .btn-light-yellow .caret {
  border-bottom: 4px solid white;
}

.btn-dark-yellow {
  background-color: #ffa415;
  border-color: #fa9900;
  color: white;
}
.btn-dark-yellow:hover, .btn-dark-yellow:focus, .btn-dark-yellow:active, .btn-dark-yellow.active {
  background-color: #fa9900;
  border-color: #e18a00;
  color: white;
}
.btn-dark-yellow.disabled:hover, .btn-dark-yellow.disabled:focus, .btn-dark-yellow.disabled:active, .btn-dark-yellow.disabled.active, .btn-dark-yellow[disabled]:hover, .btn-dark-yellow[disabled]:focus, .btn-dark-yellow[disabled]:active, .btn-dark-yellow[disabled].active, fieldset[disabled] .btn-dark-yellow:hover, fieldset[disabled] .btn-dark-yellow:focus, fieldset[disabled] .btn-dark-yellow:active, fieldset[disabled] .btn-dark-yellow.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-dark-yellow .caret {
  border-top-color: white;
}
.dropup .btn-dark-yellow .caret {
  border-bottom: 4px solid white;
}

.btn-grey {
  background-color: #8b91a0;
  border-color: #7d8495;
  color: white;
}
.btn-grey:hover, .btn-grey:focus, .btn-grey:active, .btn-grey.active {
  background-color: #7d8495;
  border-color: #707788;
  color: white;
}
.btn-grey.disabled:hover, .btn-grey.disabled:focus, .btn-grey.disabled:active, .btn-grey.disabled.active, .btn-grey[disabled]:hover, .btn-grey[disabled]:focus, .btn-grey[disabled]:active, .btn-grey[disabled].active, fieldset[disabled] .btn-grey:hover, fieldset[disabled] .btn-grey:focus, fieldset[disabled] .btn-grey:active, fieldset[disabled] .btn-grey.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-grey .caret {
  border-top-color: white;
}
.dropup .btn-grey .caret {
  border-bottom: 4px solid white;
}

.btn-light-grey {
  background-color: #a7acb7;
  border-color: #999eab;
  color: white;
}
.btn-light-grey:hover, .btn-light-grey:focus, .btn-light-grey:active, .btn-light-grey.active {
  background-color: #999eab;
  border-color: #8b91a0;
  color: white;
}
.btn-light-grey.disabled:hover, .btn-light-grey.disabled:focus, .btn-light-grey.disabled:active, .btn-light-grey.disabled.active, .btn-light-grey[disabled]:hover, .btn-light-grey[disabled]:focus, .btn-light-grey[disabled]:active, .btn-light-grey[disabled].active, fieldset[disabled] .btn-light-grey:hover, fieldset[disabled] .btn-light-grey:focus, fieldset[disabled] .btn-light-grey:active, fieldset[disabled] .btn-light-grey.active {
  background-color: white;
  border-color: white;
  color: white;
}
.btn-light-grey .caret {
  border-top-color: white;
}
.dropup .btn-light-grey .caret {
  border-bottom: 4px solid white;
}

.btn-dark-grey {
  background-color: #707788;
  border-color: #646b7a;
  color: white;
}
.btn-dark-grey:hover, .btn-dark-grey:focus, .btn-dark-grey:active, .btn-dark-grey.active {
  background-color: #646b7a;
  border-color: #595e6c;
  color: white;
}
.btn-dark-grey.disabled:hover, .btn-dark-grey.disabled:focus, .btn-dark-grey.disabled:active, .btn-dark-grey.disabled.active, .btn-dark-grey[disabled]:hover, .btn-dark-grey[disabled]:focus, .btn-dark-grey[disabled]:active, .btn-dark-grey[disabled].active, fieldset[disabled] .btn-dark-grey:hover, fieldset[disabled] .btn-dark-grey:focus, fieldset[disabled] .btn-dark-grey:active, fieldset[disabled] .btn-dark-grey.active {
  background-color: white;
  border-color: #fbfbfc;
  color: white;
}
.btn-dark-grey .caret {
  border-top-color: white;
}
.dropup .btn-dark-grey .caret {
  border-bottom: 4px solid white;
}

.btn-transparent-white {
  background: none;
  border-color: rgba(255, 255, 255, 0.6);
  border-width: 1px;
  color: white !important;
}
.btn-transparent-white:hover, .btn-transparent-white:focus, .btn-transparent-white:active, .btn-transparent-white.active {
  background-color: rgba(44, 47, 59, 0.1);
  border-color: rgba(255, 255, 255, 0.8);
}
.btn-transparent-white.disabled:hover, .btn-transparent-white.disabled:focus, .btn-transparent-white.disabled:active, .btn-transparent-white.disabled.active, .btn-transparent-white[disabled]:hover, .btn-transparent-white[disabled]:focus, .btn-transparent-white[disabled]:active, .btn-transparent-white[disabled].active, fieldset[disabled] .btn-transparent-white:hover, fieldset[disabled] .btn-transparent-white:focus, fieldset[disabled] .btn-transparent-white:active, fieldset[disabled] .btn-transparent-white.active {
  background: none;
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}
.btn-transparent-white .caret {
  border-top-color: rgba(44, 47, 59, 0.1);
}
.dropup .btn-transparent-white .caret {
  border-bottom: 4px solid rgba(44, 47, 59, 0.1);
}

.btn-transparent-grey {
  background: none;
  border-color: rgba(139, 145, 160, 0.3);
  border-width: 1px;
  color: #8b91a0 !important;
}
.btn-transparent-grey:hover, .btn-transparent-grey:focus, .btn-transparent-grey:active, .btn-transparent-grey.active {
  background-color: rgba(139, 145, 160, 0.1);
  border-color: rgba(139, 145, 160, 0.6);
  box-shadow: none !important;
}
.btn-transparent-grey.disabled:hover, .btn-transparent-grey.disabled:focus, .btn-transparent-grey.disabled:active, .btn-transparent-grey.disabled.active, .btn-transparent-grey[disabled]:hover, .btn-transparent-grey[disabled]:focus, .btn-transparent-grey[disabled]:active, .btn-transparent-grey[disabled].active, fieldset[disabled] .btn-transparent-grey:hover, fieldset[disabled] .btn-transparent-grey:focus, fieldset[disabled] .btn-transparent-grey:active, fieldset[disabled] .btn-transparent-grey.active {
  background: none;
  border-color: rgba(139, 145, 160, 0.3);
  color: #8b91a0;
}
.btn-transparent-grey .caret {
  border-top-color: #8b91a0;
}
.dropup .btn-transparent-grey .caret {
  border-bottom: 4px solid #8b91a0;
}

.btn-transparent-red {
  background: none;
  border-color: rgba(230, 107, 107, 0.6);
  border-width: 2px;
  color: #e66b6b !important;
}
.btn-transparent-red:hover, .btn-transparent-red:focus, .btn-transparent-red:active, .btn-transparent-red.active {
  background-color: rgba(230, 107, 107, 0.1);
  border-color: rgba(230, 107, 107, 0.8);
}
.btn-transparent-red.disabled:hover, .btn-transparent-red.disabled:focus, .btn-transparent-red.disabled:active, .btn-transparent-red.disabled.active, .btn-transparent-red[disabled]:hover, .btn-transparent-red[disabled]:focus, .btn-transparent-red[disabled]:active, .btn-transparent-red[disabled].active, fieldset[disabled] .btn-transparent-red:hover, fieldset[disabled] .btn-transparent-red:focus, fieldset[disabled] .btn-transparent-red:active, fieldset[disabled] .btn-transparent-red.active {
  background: none;
  border-color: rgba(230, 107, 107, 0.3);
  color: #e66b6b;
}
.btn-transparent-red .caret {
  border-top-color: white;
}
.dropup .btn-transparent-red .caret {
  border-bottom: 4px solid white;
}

.btn-squared {
  border-radius: 0 !important;
}

.btn-icon {
  background-color: #EFEFEF;
  background-image: -moz-linear-gradient(center top, #fafafa, #efefef);
  border: 1px solid #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  cursor: pointer;
  height: 80px;
  display: block;
  font-size: 14px;
  padding: 5px 0 0;
  position: relative;
  text-align: center;
  transition: all 0.3s ease 0s;
  color: #333333;
}

.btn-icon:hover {
  border-color: #A5A5A5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  color: #444444;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
}

.btn-icon .badge {
  border-radius: 12px 12px 12px 12px !important;
  border-style: solid;
  border-width: 0;
  box-shadow: none;
  color: #FFFFFF !important;
  font-size: 11px !important;
  font-weight: 300;
  padding: 3px 7px;
  position: absolute;
  right: -5px;
  text-shadow: none;
  top: -5px;
}

.btn-icon [class^="fa-"], .btn-icon [class*=" fa-"] {
  clear: both;
  display: block;
}

.buttons-widget .btn, .buttons-widget .bootstrap-switch, .buttons-widget button {
  margin-bottom: 5px;
}

.buttons-widget .btn-group button, .buttons-widget .btn-group-vertical button, .buttons-widget .btn-group .btn, .buttons-widget .btn-group-vertical .btn {
  margin-bottom: 0;
}
/* ---------------------------------------------------------------------- */
/*  Icons
/* ---------------------------------------------------------------------- */
.fa-round {
  border: 0.1em solid #eee;
  border-radius: 100%;
  padding: 0.2em 0.25em 0.15em;
}

.the-icons {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.the-icons .fa-hover {
  border-radius: 4px;
  display: block;
  height: 32px;
  line-height: 32px;
  padding-left: 10px;
  color: #8B91A0;
  cursor: pointer;
  -moz-transition: font-size 0.2s ease 0s;
  -o-transition: font-size 0.2s ease 0s;
  -webkit-transition: font-size 0.2s ease 0s;
  -ms-transition: font-size 0.2s ease 0s;
  transition: font-size 0.2s ease 0s;
}
.the-icons .fa-hover:hover {
  font-size: 26px;
}
.the-icons .fa-hover:hover .fa {
  font-size: 26px;
}
.the-icons .fa-hover .fa {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  text-align: right;
  width: 32px;
}

/* ie8 fixes */
.ie8 div.timeline_element:after {
  display: none;
}

.ie8 div.timeline_element:before {
  display: none;
}

/* ie8 fixes */
.ie8 .messages-list .messages-item .messages-item-star {
  display: none;
}

.ie8 .messages-list .messages-item:hover .messages-item-star {
  display: block;
}

/**/
/* ie8 fixes */
.ie8 .messages-list .messages-item .messages-item-time .messages-item-actions {
  display: none;
}

/* ---------------------------------------------------------------------- */
/*  CSS FOR MOBILE
/* ---------------------------------------------------------------------- */
.isMobile .left-wrapper, .isMobile .right-wrapper {
  overflow: auto !important;
  -ms-overflow-style: auto !important;
  -webkit-overflow-scrolling: touch !important;
}

.isMobile .panel-scroll {
  overflow: auto !important;
  -ms-overflow-style: auto !important;
  -webkit-overflow-scrolling: touch !important;
}

.isMobile #slidingbar-area, .isMobile .subviews {
  overflow: auto !important;
  -ms-overflow-style: auto !important;
  -webkit-overflow-scrolling: touch !important;
}

.isMobile .panel-tools {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.isMobile ul.main-navigation-menu li:not(.open) a:hover {
  background: inherit !important;
}

.select2-container .select2-choice{
	border-color:#98ce44 !important;	
}


.dt_pk .input-group[class*="col-"]{
            float:left;
        }
        .marg_btm{
            margin-bottom: 20px;
        }
        .mar_lbl{
            margin-top: -2px !important;
        }
        .flex_pa {
            line-height: 28px;
        }
        .form_btm_txt {
            border: 1px solid #98ce44;
            margin: 15px 65px 30px !important;
            min-height: 60px;
            overflow: hidden;
            padding: 10px 0;
        }
        .form_btm_txt span {
            color: #555;
            font-size: 14px;
            font-weight: 500;
        }
		
		.gray-area .pull-left img {
			max-width: 100px;
		}