body{font-family:"Lato", Arial, Helvetica, sans-serif;background-color:#fff;color:#838383;overflow-x:hidden;-webkit-font-smoothing:antialiased;-ms-overflow-style:scrollbar;oveflow-y:scroll;}
a:hover, .blog .description h4 a:hover{text-decoration:none;color:#01b7f2;}
a:focus{text-decoration:none;}
.prn{padding-right:0px;}
.pln{padding-left:0px;}
.top-row{background:#087dc2;padding:10px 0 3px;}
.top-row p{color:#f1f1f1;}
.top-row p i, .contact-details .contact-phone i,
.regular-travel-pkg .pkg-detail p span, .blog .post-meta span small{color:#01b7f2;}
.top-logo-row img{opacity:0.8;}
.logo-tag{font-size:1.4rem;display:block;padding:2px 23px;}
.nav-row{background:#fff;}
.nav-row .nav-style{background:none;border:0px;box-shadow:none;margin-bottom:0px;margin-top: 20px;}
.nav-style ul{margin:24px 0;}
.nav-row .nav-style ul li a{color:#1f1f1f;text-transform:uppercase;padding:8px 6px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;}
.nav-row .nav-style ul li.active a,
.nav-row .nav-style ul li.active a:hover,
.nav-row .nav-style ul li a:hover{color:#1f1f1f;background:#fade03;}
.page-title-container{padding:17px 0;margin-bottom:30px;background:#2d3e52;}
.page-title-container .page-title .entry-title{font-size:20px;color:#fff;margin:0;}
.page-title-container .breadcrumb{background:none;float:right;margin-bottom:0px;padding:0px;}
.page-title-container .breadcrumb li a{font-size:0.8333em;font-weight:bold;color:#fff;text-transform:uppercase;}
.page-title-container .breadcrumb li.active{color:#fdb714;}
.form-style{background:rgba(245, 245, 245, 0.70);border:1px solid #E3E3E3;overflow:hidden;margin-top:25px;position:relative;padding-top:10px;border-radius:6px;-webki-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;-ms-border-radius:6px;}
.form-style h4{color:#2d3e52;font-size:16px;margin:0px;}
.form-style label{font-size:12px;font-weight:normal;display:block;text-transform:uppercase;color:#2d3e52;margin-bottom:0px;}
.form-style .form-control, .icon-check .footer-newsletter, .pkg-search input,
.min-max-price .price select, .contact-form-wrpr input, .contact-form-wrpr textarea{background:#fff;height:33px;box-shadow:none;border:none;border-radius:0px;margin-bottom:10px;}
.icon-check .footer-newsletter{margin-bottom:0px;}
.min-max-price .price select{margin-bottom:15px;}
select{background:#f5f5f5 url(../images/arrow.jpg) right no-repeat !important;text-indent:0.01px;text-overflow:'';-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;}
.chdate h4{margin-left:15px;}
.btn-style{background:#98ce44;font-size:12px;border-radius:0px;border:0px;margin-right:33px;padding:8px 0;width:230px;margin-top:10px;}
.btn-style1{background:#98ce44;font-size:12px;border-radius:0px;border:0px;margin-right:33px;padding:8px 0;width:100%;margin-top:10px;}
.form-style .btn-style,.mar-top{margin: 0;}
.filters-container .btn-style{width:100%;margin-right:0px;}
#mlemail{border: 1px solid #087dc2;}
.footer-newsletter:after{content:"";position:absolute;top:20px;right:18px;height:33px;width:30px;background:url(../images/icon/icon-check.png) no-repeat center center #7db921;}
.filters-container .btn-style:after, .filters-container .btn-style:hover:after{background:none;}
.icon-check{margin-bottom:5px;}
.btn-style:hover{background:#7fb231;}
.featured-thumb img{height:150px;width:100%;}
.btn-style:hover:after, .featured-thumb-row .featured-thumb .thumb-detail-wrpr a:hover,
.view-detail a:hover, .load-post:hover{background-color:#fade03;color:#000;text-decoration:none;}
.featured-thumb-row{background:#ff;}
.featured-thumb-row h2{font-size:20px;color:#2d3e52;margin:0 0 10px 15px;}
.popular-destination-thumb-row{padding:30px 0 60px;}
.popular-destination-thumb-row h2{color:#fff;font-size:24px;}
.popular-destination-thumb-row p, .global-map-area p{color:#7c9abd;text-indent:15px;}
.popular-destination-thumb-row p span{display:block;}
.featured-thumb-row .featured-thumb{border: 2px solid #01b7f2;
    padding: 5px;
    border-radius: 5px;
    margin: 7px;}
.featured-thumb-row .featured-thumb .thumb-title-price,
.featured-thumb-row .featured-thumb .thumb-detail-wrpr{padding:10px;}
.agency-list .featured-thumb .thumb-title-price,
.agency-list .featured-thumb .thumb-detail-wrpr{padding:6px; text-align:center;}
.featured-thumb-row .featured-thumb .thumb-title-price{border-bottom:0px solid #f5f5f5;}
.featured-thumb-row .featured-thumb .thumb-title-price a{font-size:14px;color:#000;text-transform:uppercase;display:block;height: 24px; overflow:hidden;margin-bottom:10px;}
.featured-thumb-row .featured-thumb .thumb-title-price a:hover{color:#B3D57E;}
.featured-thumb-row .featured-thumb .thumb-title-price p{color:#01b7f2;text-transform:uppercase;font-weight:700;margin:0;height:22px;}
.featured-thumb-row .featured-thumb .thumb-title-price p span{color:#7db921;}
.featured-thumb-row .featured-thumb .thumb-detail-wrpr a,
.view-detail a, .load-post{
    background: #087dc2;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 15px;
    /*clear: both;*/
}
.popular-destination-thumb-row, .global-map-area, .contact-option-row{background:url(../images/global-map.jpg);}
.popular-destination-thumb-row .featured-thumb .thumb-title-price h4,
.popular-destination-thumb-row .featured-thumb .thumb-title-price h4 p{text-align:center;text-indent:0px;}
.popular-destination-thumb-row .featured-thumb .thumb-title-price{border-bottom:0px;}
.popular-destination-thumb-row .featured-thumb .thumb-title-price h4{min-height:70px;}
.news-leter{background:#f5f5f5;text-align:center;}
.news-leter h1{font-size:24px;color:#2d3e52;}
.news-leter input{background:#fff;border-radius:0px;border:0px;height:34px;font-size:12px;}
.news-leter button{background:#98ce44;color:#fff;height:44px;border-radius:0px;border:0px;box-shadow:none;}
.news-leter button:hover{background:#7fb231;}
.global-map-area{padding:50px 0;}
.testtimonial-slider, .footer{padding:0px 0 30px;}
.travelo-img img.traveler-works-info{position:absolute;left:37%;}
.global-map-area h1{color:#fff;font-size:24px;text-align:center;}
.global-map-area h4{color:#fff;font-size:18px;}
.global-map-area .details{width:80%;float:left;}
.global-map-area .icon-wrapper{width:20%;}
.icon-wrapper i{border:1px solid #01b7f2 !important;background:#01b7f2;color:#fff;font-size:36px;line-height:54px !important;}
.first, .second{margin-top:15px;}
.third, .forth{margin-top:15px;}
.global-map-area .third, .forth {   margin-top: 12em;}
.travelers-slider .carousel-inner .item{min-height:220px;}
.item h4{font-size:80px;text-align:right;line-height:90%;color:rgb(255, 255, 255);text-transform:uppercase;font-family:'Source Sans Pro', sans-serif;font-weight:normal;text-shadow:rgba(0, 0, 0, 0.2) 1px 1px 3px;position:absolute;width:50%;margin-left:36%;margin-top:30px;}
.testtimonial-slider h2{font-size:20px;color:#2d3e52;}
.travelers-slider{background:#fff;}
.travelers-slider .carousel-inner .item .carousel-caption{left:5%;right:5%;}
.travelers-slider .carousel-inner .item .carousel-caption p{font-size:16px;color:#01b7f2;font-style:italic;text-shadow:none;text-align:left;margin-bottom:30px;}
.travelers-slider .carousel-inner .item .carousel-caption img{width:74px;height:74px;float:left;}
.client-img span{float:left;color:#2d3e52;font-weight:bold;text-shadow:none;margin:30px 0 0 5px;line-height:10px;}
.client-img span small{display:block;text-align:left;color:#999;}
.travelers-slider .carousel-indicators{bottom:0;width:15%;right:0;left:auto;margin-left:0;}
.travelers-slider .carousel-indicators li{border:1px solid #dbdbdb;}
.travelers-slider .carousel-indicators li{border:1px solid #fdb714;background:#fdb714;}
.footer{background:#fff; color:#838383;font-size:12px;}
.footer h2{font-size:20px;color:#2d3e52;margin-bottom:20px;}
.footer .footer-wrapper ul.triangle li{padding-left:0px;margin-bottom:12px;}
.footer .footer-wrapper ul.triangle li a, .travel-news li .description h5 a{font-size:13px;color:inherit;}
.footer .footer-wrapper ul.triangle li:hover:before,
.footer .footer-wrapper ul.triangle li a:hover,
.travel-news li .description h5 a{color:#01b7f2;font-weight:bold;text-decoration:none;}
.footer .footer-wrapper ul.triangle li:before{content:"\e072";margin-right:10px;color:#d9d9d9;display:block;float:left;font-size:7px;font-family:'Glyphicons Halflings';}
.travel-news li{margin-bottom:30px;overflow:hidden;}
.travel-news li .thumb{width:30%;float:left;}
.travel-news li .description{width:70%;float:left;}
.travel-news li .description h5{margin:0 0 5px;}
.travel-news li .description span{font-size:12px;}
.contact-details{margin-bottom:20px;}
.contact-details .contact-phone{color:#2d3e52;font-size:20px;display:block;}
.contact-details .contact-email{color:#01b7f2;font-size:1.1667em;padding:0 5px;line-height:2em;}
.social-icons li{padding:0;text-align:center;}
.social-icons li a{width:32px;margin-right:4px;height:32px;display:inline-block;background:#d9d9d9;color:#fff;line-height:32px;font-size:1.3333em;-moz-transition:opacity 0.3s ease-in;-o-transition:opacity 0.3s ease-in;-webkit-transition:opacity 0.3s ease-in;-ms-transition:opacity 0.3s ease-in;transition:opacity 0.3s ease-in;}
.social-icons li a:hover{background:#01b7f2;color:#fff;}
.gray-area{background:#f5f5f5;padding:8px 0;}
.gray-area .copyright{font-size:1.0833em;margin:23px 20px 0;}
.gray-area #back-to-top{margin-top:20px;display:block;font-size:16px;color:#2d3e52;}
.gray-area #back-to-top i{border-color:#01b7f2;font-weight:bold;overflow:hidden;}
.top-bottom-padding{margin:30px 0;}
.search-results-title{background:#fff;padding:0 20px;margin:0;border-bottom:4px solid #f5f5f5;line-height:3em;font-size:16px;color:#2d3e52;}
.search-results-title > i{color:#fdb714;font-size:20px;margin-right:10px;}
.filters-container label{font-size:10px;font-weight:normal;text-transform:uppercase;}
.filters-container.toggle-container .panel.style1{border:none;border-radius:0px;margin-bottom:4px;background:#fff;}
.filters-container.toggle-container .panel.style1 .panel-title{padding-left:5px;font-size:16px;color:#2d3e52;}
.toggle-container .panel .panel-title a{white-space:normal;display:block;padding:15px;}
.filters-container.toggle-container .panel.style1 .panel-content{padding:10px 20px 20px;}
.filters-container ul.filters-option li{margin-bottom:1px;background:#f5f5f5;padding:0 15px;line-height:40px;}
.filters-container ul.filters-option li:hover{cursor:pointer;}
.filters-container ul.filters-option li.active{background:#01b7f2;}
.filters-container ul.filters-option li a{text-transform:uppercase;font-size:12px;color:inherit;padding:8px 0;}
.filters-container ul.filters-option li input[type="checkbox"]{margin-right:10px;}
.filters-container ul.filters-option li.active a{color:#fff;}
.pkg-search{}
.pkg-search .form-group .btn-style{float:left;width:100%;margin:33px 0px 0 0;}
.pkg-search .form-group .btn-style:after{bottom:29px;right:36px;top:auto;}
.contact-us-section{margin-top:-30px;}
.contact-us-section h4{margin:50px 0 26px;color:#2d3e52;font-size:20px;text-align:center;}
.contact-us-section p{font-size:13px;margin-bottom:40px;text-align:center;}
.contact-us-section form label, .contact-form-wrpr form label{text-align:left;font-size:10px;text-transform:uppercase;font-weight:normal;}
.contact-form-wrpr textarea{height:auto;padding:10px;border: 1px solid #087dc2;}
.contact-form-wrpr input.btn{height:43px;background:#98ce44;}
.contact-form-wrpr input.btn:hover{background:#7fb231;}
.contact-option-row{padding:6em 0 5em;}
.contact-option-box{border:1px solid #fdb714;margin-top:20px;padding:45px 20px 20px;position:relative;color:#7c9abd;text-align:center;}
.contact-option-box i{width:72px;height:72px;display:block;margin:-85px auto 10px;font-size:3em;color:#fff;background:#fdb714;line-height:72px;-webkit-border-radius:50% 50% 50% 50%;-moz-border-radius:50% 50% 50% 50%;-ms-border-radius:50% 50% 50% 50%;border-radius:50% 50% 50% 50%;}
.contact-option-box small{text-transform:uppercase;font-size:10px;}
.contact-option-box h4{color:#fff;margin:0 0 15px;text-transform:uppercase;font-size:16px;}
.question-list .faq-colps-style{border-radius:0;margin-bottom:4px;}
.question-list .faq-colps-style .panel-title a, .blog .description h4 a{color:#2d3e52;}
.faq-colps-style .panel-content{padding:0 15px;}
.blog-wrapper .blog{background:#fff;padding:20px 20px 10px;margin-bottom:30px;}
.blog .description p.date{background:#2d3e52;font-size:20px;color:#fff;text-align:center;text-transform:uppercase;line-height:18px;float:left;display:table;padding:7px 15px;margin:0 15px 0 -20px;}
.blog .description{margin-bottom:15px;}
.blog .description p.date span{display:block;font-size:10px;}
.blog .description h4{font-size:20px;margin-bottom:30px;}
.blog .img-or-video{margin-bottom:20px;}
.blog .img-or-video img{margin-bottom:10px;}
.blog .post-meta{background:#f5f5f5;padding:10px;font-size:1em;}
.blog .post-meta span{font-size:10px;text-transform:uppercase;}
.blog .post-meta span i{background:#fff;color:#d9d9d9;text-align:center;line-height:28px;width:28px;height:28px;margin-right:10px;}
.blog .post-meta a{height:28px;line-height:28px;padding:0 10px;background:#fff;color:#9e9e9e;letter-spacing:0.04em;border-radius:0px;float:right;}
.blog .post-meta a i{font-size:26px;float:left;margin-right:5px;}
.load-post{padding:15px 0;margin-bottom:30px;clear:both;}
.travelo-box{background:#fff;padding:10px;margin-bottom:30px;overflow:hidden;}
.travel-rec-post{height:295px;overflow-y:scroll;}
.travelo-box .box-title{margin:0 0 10px;color:#2d3e52;}
.travel-rec-post .box{overflow:hidden;padding-bottom:15px;border-bottom:1px solid #f5f5f5;margin-bottom:15px;}
.travel-rec-post .box:last-child{border-bottom:0px;margin-bottom:0px;}
.travel-rec-post .box .post-img{width:30%;float:left;}
.travel-rec-post .box .details{float:left;width:70%;}
.travel-rec-post .box .details .box-title{margin-bottom:4px;}
.travel-rec-post .box .details .price-wrapper{font-weight:normal;text-transform:uppercase;font-size:10px;color:inherit;line-height:1.3333em;margin:0;}
.travel-rec-post .box .details .price-wrapper .price-per-unit{color:#7db921;font-size:1.4em;padding-right:5px;}
.travelo-box.twitter-box .twitter-holder > ul li{border-bottom:1px solid #f5f5f5;padding:15px 0 15px 40px;position:relative;}
.travelo-box.twitter-box .twitter-holder > ul li:last-child{border:none;}
.travelo-box.twitter-box .twitter-holder > ul li:before{content:"\f099";font-family:"FontAwesome";display:block;width:32px;height:32px;-webkit-border-radius:50% 50% 50% 50%;-moz-border-radius:50% 50% 50% 50%;-ms-border-radius:50% 50% 50% 50%;border-radius:50% 50% 50% 50%;border:1px solid #fdb714;color:#fdb714;line-height:32px;text-align:center;position:absolute;left:0;font-size:16px;}
.travelo-box.twitter-box .twitter-holder > ul li .tweet-text a{color:#01b7f2;}
.travelo-box.twitter-box .twitter-holder > ul li .tweet-text a:hover{text-decoration:underline;}
.travelo-box.contact-box .contact-details{margin:0;}
.travelo-box.contact-box .contact-details .contact-phone{color:#01b7f2;}
.travelo-box.contact-box .contact-details .contact-phone > i{color:#fdb714;}
.travelo-box.contact-box .contact-details .contact-email{color:inherit;}
.sort-by-section{background:#fff;padding:0 20px;margin:0px 0 30px;}
.sort-bar{margin-bottom:0px;}
.sort-by-section .sort-by-title{margin:15px 20px 0 0;line-height:34px;float:left;}
.sort-by-section li{float:left;padding:15px 5px;}
.sort-by-section .sort-bar .sort-by-container{position:relative;display:block;}
.sort-by-section .sort-bar .sort-by-container > span{background:#f5f5f5;height:34px;padding:0 45px 0 15px;line-height:34px;display:block;color:#9e9e9e;}
.sort-by-section .sort-bar .sort-by-container > span{background:#f5f5f5;height:34px;padding:0 45px 0 15px;line-height:34px;display:block;color:#9e9e9e;}
.sort-by-container a{background:rgb(188, 188, 188);line-height:0;font-size:1.2em;padding:0 5px;float:left;position:absolute;right:0;}
.sort-by-container #asc{top:0;}
.sort-by-container #desc{bottom:0;}
.sort-by-container ul li{margin:0;padding:0;text-align:center;width:100%;}
.regular-travel-pkg{background:#FFF;float:left;margin-bottom:30px;width:100%;padding:15px;position:relative;border: 2px solid #087dc2;border-radius: 5px;}
.regular-travel-pkg .img-wrpr{width:30%;margin-right:2%;float:left;display:inline;}
.regular-travel-pkg .pkg-detail-wrpr{width:68%;display:table;}
.regular-travel-pkg .col-md-8{padding-right:0px;}
.regular-travel-pkg .img-wrpr img{height:210px;border:1px solid #F1F1F1;padding:2px;margin:4px;box-shadow:0 0 2px #E9E9E9;border-radius:6px;}
.regular-travel-pkg .pkg-title h4{font-weight:normal;color:#000;margin:0 0 15px;padding-left:0px;}
.regular-travel-pkg .pkg-title p{font-size:12px;color:#0B8B4E;text-transform:uppercase;display:block;margin:0;font-weight:700;}
.regular-travel-pkg .pkg-title p span{color:#000;}
.regular-travel-pkg .pkg-detail{padding:10px 0;width:70%;float:left;border-right:0px solid #f5f5f5;}
.regular-travel-pkg .pkg-detail p{font-size:13px;text-transform:capitalize;margin-bottom:0px;}
.regular-travel-pkg .pkg-detail p.pkg-desc{margin-bottom:10px;}
.view-detail{width:100%;float:left;padding:5px;text-align:center;}
.view-detail h3{color:#000;font-size:18px;text-transform:uppercase;}
.view-detail h3 span{color:#087dc2;margin-bottom:5px;line-height:1;display:block;font-size:14px;margin-top:10px;}
.newslater-btn{border-radius:0px;border:0px;background:#7db921;color:#fff;}
.newslater-btn:hover{color:#fff;background:#98ce44;}
.col-io{font-size:8px;text-align:center;padding:8px;float:right;background:#01b7f2;color:#fff;border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;-ms-border-radius:50px;}
.single-pkg-tab-style .nav-tabs li a{background:#087dc2;color:#fff;border-radius:0px;border:0px;text-transform:uppercase;font-size:12px;}
.single-pkg-tab-style .nav-tabs li.active a{background:#fade03 ;color:#2d3e52;border:0px;}
.single-pkg-tab-style .nav-tabs li.active a:hover, .single-pkg-tab-style .nav-tabs{border:0px;}
.single-pkg-tab-style .tab-content .tab-pane{background:#fff;overflow:hidden;padding:0px;}
/*.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr{background:#fff;display:table;padding:0 10px; border:2px solid #087dc2;margin: 2px 0 0;}*/

.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr {
    background: #fff none repeat scroll 0 0;
    display: inline;
    padding: 10px 0;
    width: 100%;
}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc{/*width:49%;*/float:left;background:#fff;margin:10px 0;}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc:first-child{/*margin-right:2%;*/}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc ul li p{font-size:11px;margin-bottom:0px;text-transform:uppercase;line-height:18px;}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc table tbody tr{border-bottom:1px solid #f2f2f2;}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc table tbody tr td:first-child{color:#01b7f2;width:150px;padding:3px 0;}
.pkg-desc .package-price{background:#fdb714;padding:8px 42px;margin-top:20px;text-align:center;}
.pkg-desc .package-price h3{color:white;font-size:22px;font-weight:bold;margin:0px;}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc img{/*margin-bottom:45px;*/width:100%;}
.single-pkg-tab-style .tab-content .pkg-detl h4{color:#2d3e52;font-size:20px;}
.single-pkg-tab-style .tab-content .pkg-detl p{font-size:13px;}
.twitter-typeahead{width:100%;}
.tt-dropdown-menu{width:100%;background:#FFFFFF;border:1px solid #f5f5f5;height:120px;overflow-y:hidden;padding:5px 0 0 12px;}
.ui-widget-header{background:#98ce44;}
.ui-corner-all{border-radius:0px;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-default, .ui-widget-content .ui-state-default{background:#f5f5f5;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{border:1px solid #98ce44;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{background:#98ce44;}
.special-ofr{background:url(../images/ribbon.png) no-repeat;width:245px;height:210px;position:absolute;top:0;margin-top:-10px;margin-left:-25px;}
.pkg-detl p.MsoNormal span, .pkg-detl div span{font-size:14px !important;}

.rating{margin-top:10px;  margin-bottom: 10px;}
.rating img{height: auto !important;}
.rating ul{list-style:none;margin:0;padding:0;}
.rating ul li{float:left;}
.rating-title{border-bottom: 1px solid #f5f5f5;padding-bottom: 6px;}
.regular-travel-pkg ul.packageicon{list-style:none;margin:0;padding:0;float:left;width: 100%;}
.regular-travel-pkg ul.packageicon li img{width:32px;border:0px solid #0b8b4e ;border-radius:20px;}
.regular-travel-pkg ul.packageicon li{position:relative;display:inline-table;height:40px;margin:0 auto;padding:0 15px;}
.regular-travel-pkg ul.packageicon li img{position:absolute;left:0;-webkit-transition:opacity 1s ease-in-out;-moz-transition:opacity 1s ease-in-out;-o-transition:opacity 1s ease-in-out;transition:opacity 1s ease-in-out;}
.regular-travel-pkg ul li img.top:hover{opacity:0;height:30px;}
.travelers-slider .carousel-inner .item .carousel-caption img{width:74px;height:74px;float:left;}
.reviews h6{font-size:12px;color:#666666;font-weight: bold;}
.contact-info h2{ font-size: 16px; margin:15px 0 0 0;padding:0;}
.contact-info h2 span{color:#666666; margin-left:2px;}
.img-responsive{width:100%;}

.top-con-nav{ background: #f0d505 none repeat scroll 0 0;width:100%;}
.con-div-nav{ margin-bottom: 20px;
margin-right: 32px;}
.con-div-nav h1{margin:10px 0 10px 0;padding:0;text-align:center;font-size:24px;font-weight:normal;color:#fff;}
.con-div-nav ul{margin:0;padding:0;list-style:none;}
.con-div-nav ul li{font-size:14px;padding:0 27px 10px 0;}
.con-div-nav ul li a{color:#173f58;text-decoration:underline;}
.con-div-nav h2{margin:0 0 14px;padding:0;font-weight:300;font-size:24px;color:#173f58;font-weight: 700;}
.con-div-nav h2 a{color:#173f58;text-decoration:underline;}

.ctry-heading h2 {
color: #000;
font-size: 20px;
font-weight: 700;
margin: 28px 0 10px 0;
padding: 0;
text-align: left;

}

.ctry-heading h2 span{color:#f0d505;font-weight:700;}
.modal-body {

}

.con-div-nav i {
float: left;
margin-right: 8px;
}

.modal-logo img {
margin-right: 60px;
width: 270px;
}

.top-con-nav .modal-backdrop {
background-color: #fff;
left: 0;
position: absolute;
right: 0;
top: 0;
}

.top-con-nav .modal-backdrop.in {
opacity: 0.85;
}

.top-con-nav button.close {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    margin-right: 25px;
    margin-top: -20px;
    padding: 0;
}

.top-con-nav .close {
color: #fff;
float: right;
font-size: 20px;
font-weight: 700;
line-height: 1;
opacity: 0.91;
text-shadow: 0 1px 0 #fff;
}

.txt-model-1 h4 {color:#FFFFFF;text-align: center;font-size: 40px;}
.modal-content {
/*background-image: url(../images/model-bg.jpg);*/
background-color:#f6c113;
background-position: center -76px;
background-repeat: no-repeat;
background-size: 100% auto;
border:none;
border-radius: 10px;
height: 100%;
width: 55%;
margin: auto;
}

.modal-header {
border-bottom: 1px solid #5b5b5a !important;

}

.div-col2 {
margin-left: 7%;
}

.top-con-nav .modal-dialog {
margin: 21px auto;
width: 90%;
}



.whitbg {
    background-color: #fff;
    display: block;
    margin-bottom: 5px;
    margin-left: 51px;
    margin-top: 5px;
    position: relative;
    width: 90%;
}

.whitbg.row h1 {
    color: #06264c;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
	margin-bottom:20px;
}

.whitbg ul {
    list-style: outside none none;
}
.whitbg ul li {
    float: left;
    padding-bottom: 10px;
    width: 150px;
	color: #06264c;
}
.whitbg ul li a{
	color: #06264c;
}

.whitbg ul li a:hover{
	color: #06264c;
	text-decoration:underline;
}
.whitbg p.info {
    color: #0078bf;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.borderright {
    border-right: 1px dashed #999;
}


.whitbg .logos {
    margin-top: 20px;
    text-align: center;
}

.whitbg .barcode {
    margin-top: 45px;
    text-align: center;
}

.logo img {
    max-width: 210px;
	margin-top:-11px;
}

.container-fluid .navbar-toggle {
    position: absolute;
    right: -15px;
}

.packages_head_text {
    font-size: 25px;
    margin: 10px 0;
    padding: 0 0 10px 10px;
	color: #2d3e52;
}

.featured-thumb-row .premium_head_text {
	color: #2d3e52;
    font-size: 25px;
    margin: 0 0 10px;
    padding: 0 0 0 10px;
}
.addmore  {
    position: absolute;
	right: 22px;
    top: 0;
}
#remove-hth .remove, .remove {
	
	color: #e25555;
    padding-left: 3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
	
	
   /* background: #e25555 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    height: 20px;
    line-height: 14px;
    margin: 5px;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;*/
}
.shorlist-row
{
    border: 2px solid #087dc2;
    border-radius: 5px;
	height:150px;
}
.shortlist-main
{
    height: 150px;
    
}
.shortlist-package
{
    border: 1px dashed #0B8B4E;
    height: 90%;
    margin: 7px;
    padding: 10px;
	text-align:center;
}
.shortlist-package img
{
    height: 100%;
    /*border: 1px solid;*/
    width: auto;
}

.shortlist-caption
{
    margin-left: -42px;
    height: inherit;
    padding: 10px 0px 0px 45px;
}

.regular-travel-pkg .extra p span {
    color: #0b8b4e;
    font-weight: bold;
}

.blacktext{
	color:#000 !important;
	text-transform:capitalize !important;
	font-weight:normal;	
}

.view-detail .shortlist {
    text-decoration: underline;
	padding-left: 27px;
    text-transform: capitalize;
	background: #fff url("../images/short_list.png") no-repeat scroll 0 0 !important;
}

.btn-lgreen {
    background-color: #98ce44  !important;
    border: 0 none #98ce44 ;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
}

.btn-lgreen:hover{
	color: #000 !important;
	text-decoration:underline !important;	
}

.featured-thumb-row .featured-thumb .thumb-detail-wrpr a.btn-green {
     background: #98ce44 none repeat scroll 0 0;
    color: #fff;
    
}

.featured-thumb-row .featured-thumb .thumb-detail-wrpr a.btn-green:hover {
     background: #98ce44 none repeat scroll 0 0;
    color: #fff;
	text-decoration:underline;
}


.nopadding{
	padding: 0px !important;	
}	

.searchTextBox {
    width: 100%;
    height: 34px;
    border: 1px solid #398439 !important;
}

.agencyname {
    height: 20px;
    overflow: hidden;
	margin-bottom:5px;
}

.featured-thumb-row .featured-thumb .thumb-detail-wrpr a{
margin-top:0px;
}

.list-unstyled.list-inline.social-icons.clearfix {
    text-align: center;
    margin-top:15px;
}


.regular-travel-pkg .hoteal_head {
    color: #0b8b4e;
    font-size: 20px;
    font-weight: bold;
}
.regular-travel-pkg .title{

}
.regular-travel-pkg .stars{

}
.regular-travel-pkg .distance{

}
.regular-travel-pkg .days{

}

.agency-list {
    padding: 0;
}
.row.agency-search,.row.hotel-search {
    padding: 0 7px;
}

.pkg-bookbtn {
    display: block;
    margin-bottom: 15px;
}

.arabic {
    margin: auto;
}

.img-modal-1{
	margin-left:0%;	
	width:100%;
}


.regular-travel-pkg .extra p span {
    color: #087dc2;
    font-weight: bold;
}

.blacktext{
	color:#000 !important;
	text-transform:capitalize !important;
	font-weight:normal;	
}

.view-detail .shortlist {
    text-decoration: underline;
	padding-left: 27px;
    text-transform: capitalize;
	background: #fff url("../images/short_list.png") no-repeat scroll 0 0 !important;
	color: #000;
}
.regular-travel-pkg .pkg-title p.title {
    color: #000;
    font-weight: normal;
}
.regular-travel-pkg  .listing_des_dep .extra p{
	color:#000;
}
.extra > p {
    clear: both;
    display: block;
    margin: 0 !important;
    padding: 0;
	padding-bottom:10px;
}

.extra {
	margin-top:10px;	
}

.listing_des_dep .makkahhotel {
    padding-left: 0;
}

.listing_des_dep .makkahhotel p,.listing_des_dep .madinahhotel p {
    margin-top: 6px !important;
}

.panel {
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.ag_package_count {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.sort-by-section li.sort-by-price {
    width: 105px;
}

.sort-by-section li.sort-by-special {
    width: 131px;
}

.sort-by-section li.sort-by-newest {
    width: 118px;
}

.sort-by-section li.sort-by-days {
    width: 149px;
}

.sort-by-section li.sort-by-distance {
    width: 128px;
}
#package .newprice .title {
	width:150px;	
}
.newprice .title {
    color: #087dc2 ;
    width: 100px;
    border-right: 1px solid #e7e7e7;
    float: left;
	margin-top:10px;
	clear:both;
}

.newprice .data {
    float: left;
    margin-top: 10px;
	    margin-left: 10px;
}


  .row.heah-to-head ul {
      list-style-type: none;
  }
	.row.heah-to-head ul li {
		height: 24px;
		line-height: 24px;
		overflow:hidden
	}
	
  .row.head-to-head-cols{
	  
  }
  .head-to-head-cols h3 {
		height: 27px;
	}
  .head-row
  {
      font-weight: bold;
      color: #087dc2;
  }
  .head-row h3
  {
      font-weight: bold;
      text-decoration: underline;
  }
  h3.hth_booknow {
    height: auto;
}
  .persons ul{
      font-size: 14px;
      text-align: right;
      width: 50%;
  }
  .heah-to-head
  {
      margin-bottom: 10px;
   }
.hth_booknow {
    margin-bottom: 33px;
}

.thumb-title-price h4 span{
	height:30px;	
}

.agencyname {
    height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popular-destination-thumb-row .featured-thumb{
	margin-bottom:15px;
	border:0px;
	border-radius:0px;
	padding:0px;
}

.popular-destination-thumb-row  .featured-thumb, .contact-us-section{
	background:#fff none repeat scroll 0 0;
}

.popular-destination-thumb-row .featured-thumb .thumb-title-price h4 p {
  color: #838383;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  font-weight:normal;
  height:auto;
  text-transform:none;
}

.popular-destination-thumb-row  .featured-thumb .thumb-detail-wrpr {
  padding: 0 10px 10px;
}

.popular-destination-thumb-row .featured-thumb .thumb-title-price, .featured-thumb-row .featured-thumb .thumb-detail-wrpr {
  padding: 10px;
}

.popular-destination-thumb-row  .featured-thumb .thumb-detail-wrpr a{
  background: #7db921 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 12px;
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
}

#Description .listing_des_dep h4{font-weight:bold;color:#000;margin:0 0 15px;padding-left:0px;}

#Description .listing_des_dep span {
    color: #000;
}

#Description .listing_des_dep p {
    color: #087dc2 ;
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

#Description .listing_des_dep  .hoteal_head {
    color: #087dc2 ;
    font-size: 20px;
    font-weight: bold;
}

#Description .listing_des_dep .extra p span {
    color: #087dc2 ;
    font-weight: bold;
}


#Description .listing_des_dep .extra p {
    color: #000;
}

.pkg-bookbtn {
    display: block;
    margin-bottom: 15px;
}

/*home box*/

#myTab > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, #collapse-myTab .panel-default > .panel-heading.active {
    background: #fade03 none repeat scroll 0 0;
    border: 0 none;
    color: #2d3e52;
}

#myTab > li > a, .nav-tabs > li > a, .nav-tabs > li > a, #collapse-myTab .panel-default > .panel-heading {
	background: #087dc2 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

#collapse-myTab .panel-default > .panel-heading a:hover{
	color:#fff;	
}

#collapse-myTab .panel-default > .panel-heading.active a:hover{
	color:#000;	
}

#collapse-myTab .panel-title a{
	display:block;	
	padding: 10px 15px;
}

#collapse-myTab .panel-heading{
	padding:0;	
}

#myTab.nav-tabs{
	border:none;
}

.tab-content, #collapse-myTab .panel-collapse {
    border: 1px solid #087dc2 ;
    margin-top: 2px;
}

.searchbox {
    margin-top:50px;
}



#hotel_search {
    padding: 0px 10px ;
}

#flight_search {
    padding: 10px;
}


#destination_search {
    padding-bottom: 10px;
}
	

/*home box*/

/*destination */

#destination_search label {
    margin-top: 15px;
}

#destination_search button {
    margin-top: 15px;
}

/*Destination*/

/*Sky Scanner*/

#snippet_searchpanel .ss_tabs{
	
	display:none;
		
}



#snippet_searchpanel .ss_searchpanel.ss_box300x250{
	width:100%;		
}
#snippet_searchpanel .ss_searchpanel.ss_box300x250 .ss_isection .ss_iwrapper{	
	width: 100%;
    height: 25px;		
}

#snippet_searchpanel .ss_pass_adults, #snippet_searchpanel .ss_pass_children, #snippet_searchpanel .ss_pass_infants{
	width:20px !important;	
}


#snippet_searchpanel .ss_searchpanel.ss_box300x250 .ss_deals {
    padding-bottom: 5px;
    width: 100%;
    display: block;
}

#snippet_searchpanel .ss_searchpanel, #snippet_searchpanel  .ss_searchpanel .ss_deals .ss_progress{
	display:block;	
}

/* Sky Scanner*/

/* Hotel Search */

#hotel_search .htnWidget_search_box460{
	width:100% !important;	
}
#hotel_search .htnWidget_search_top460Gray {
    background: #ebeaea no-repeat scroll left top;
    color: #0e5499;
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;
    padding: 8px 0 5px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

#hotel_search .htnWidget_search_center460Gray, #hotel_search  .htnWidget_search_center460Blue {
    width: 100%;
}

#hotel_search .htnWidget_search_bottom460Blue{
	width:100%;	
}
#hotel_search .htnWidget_search_bottom460Blue{
	background: #01519a;
}
/* Hotel Search */

/*Filters*/
.dropdown-menu > li > a {
    color: #fff;
    font-size: 12px;
    width: 100%;
}

.dropdown-menu	{
	
}
.sort-by-container ul li{
	padding: 10px;
}
/*Filters*/

.customized_options{
	float:left;	
}

.customized_options .first, .customized_options .second, .customized_options .third, .customized_options .forth{
	margin:auto 15px auto 15px;	
}

.customized_options label {
    padding-right: 15px;
    width: 100%;
}

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.1  !important;
	opacity:1 !important;
	filter: alpha(opacity=100  !important);
}

.white_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index:1001;
	-moz-opacity: 1  !important;
	opacity:1 !important;
	filter: alpha(opacity=100  !important);
}


@media (min-width:1200px){

.text-right-custom{text-align:right;}	
	
}

@media (max-width:1199px){.nav-style .navbar-header{width:30%;}
.form-style{margin-top:-150px;}
.form-style label{font-size:10px;}
.social-icons li{margin-bottom:10px;}
.contact-option-box h4{font-size:14px;}
.featured-thumb{margin-bottom:15px;}
.travel-rec-post .box .post-img{width:38%;}
.travel-rec-post .box .details{width:62%;}
.logo img {max-width: 135px; margin-top:0px;}
}
@media (max-width:991px){.item h4{font-size:66px;}
.nav-style .navbar-header .navbar-brand{padding:15px 15px 0 0;}
.logo-tag{font-size:1.2rem;}
.nav-row .nav-style ul li a{font-size:12px;padding:6px;}
.form-style{background:#fff;border-radius:0px;border:0px;margin-top:0px;}
.form-style .form-control{margin-bottom:15px;}
.featured-thumb-row{padding-top:0px;}
.featured-thumb img, .regular-travel-pkg .img-wrpr img{margin:0 auto;}
.regular-travel-pkg .img-wrpr, .regular-travel-pkg .pkg-detail-wrpr{width:100%;}
.first, .second, .third, .forth{margin:1.5em 0 0 0;}
.sort-by-section .sort-by-title{float:none;}
.sort-by-section li{float:left;padding:0px 6px;width:50%;margin:4px 0;}
.whitbg {margin-left: 40px;}
}
@media (max-width:767px){.item h4{font-size:45px;}
.nav-style .navbar-header{width:auto;}
.nav-style .navbar-toggle{margin:0 -15px 0 0;background:#087dc2;border-radius:0px;border:0px;padding:18px 12px;}
.nav-style .navbar-toggle:hover, .nav-style .navbar-toggle:focus{background:#01b7f2}
.nav-style .navbar-toggle .icon-bar{background-color:#fff;width:30px;height:4px;}
.nav-style .navbar-header .navbar-brand{padding:0px;margin-top:5px;}
.nav-style .navbar-header .navbar-brand img, .gray-area .logo img{width:220px;}
.logo{margin-top:0px;}
.logo-tag{font-size:1rem;margin-top:-6px;}
.sort-by-section li, .regular-travel-pkg .pkg-detail, .regular-travel-pkg .view-detail,
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc{width:100%;}
.regular-travel-pkg .pkg-detail{border-bottom:1px solid #f5f5f5;border-left:1px solid #f5f5f5;padding-left:10px;}
.travel-rec-post .box .post-img{width:auto;display:table;float:left;margin-right:10px;}
.travel-rec-post .box .details{width:80%;}
.travelers-slider .carousel-inner .item{min-height:300px;}
.prn, .pln{padding:0px;}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc:first-child{margin-right:0;}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc ul{display:table;margin:0 auto;}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc ul li p span{text-align:right;padding-right:10px;}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc img.img-responsive,
.gray-area .logo img{margin:0 auto;}
}
@media all and (max-width: 1199px) and (min-width: 641px){
	
	.logo img {margin-top:20px;}	
	
}
@media(min-width:800px){
	.nopadding-large{padding:0px !important;}
	
	
	.form-group.heads_customize {
		height: 60px;
		margin: 0;
		padding-top: 11px;
	}
	.customized_options .form-group {
		min-height: 34px;
	}
	
}
@media(max-width:480px){

	#demoPreview .htnWidget_search_460R{
		float:none;	
	}
}
@media(max-width:640px){
	
	
	.customized_options .first, .customized_options .second, .customized_options .third, .customized_options .forth {
		margin: 0 15px;
		padding:0px;
	}
	.addmore2, .remove2 {
		top: 60px;
	}
	.hidemobile{
		display:none;
	}
	
	.customized_options label {
		margin-bottom: 5px !important;
	}
	
	.navbar-brand.logo {
		min-height: 69px;
	}

}
@media(max-width:479px){.item h4{font-size:28px;}
.jumborton.top-row ul{margin:0px;}
.jumborton.top-row ul li:first-child{width:100%;margin-bottom:5px;}
.jumborton.top-row ul li:nth-child(3){display:none;}
.single-pkg-tab-style .nav-tabs li a{padding:8px 4px;font-size:11px;}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc ul li p span{text-align:center;padding-right:0px;margin:0px;width:100%;border-right:0px;line-height:8px;}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc ul li p{text-align:center;line-height:16px;margin-bottom:10px;}
.pkg-desc .package-price{padding:8px 2px;}
.pkg-desc .package-price h3{font-size:16px;}
.single-pkg-tab-style .tab-content .tab-pane,
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr{padding:10px;}
.blog .post-meta a{padding:0 4px;}
.single-pkg-tab-style .tab-content .tab-pane .tab-cntnt-wrpr .pkg-desc table tbody tr td:first-child{width:100px;}
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {


.modal-content {
   
    width: 100%;
	
	
}

.borderright {
    border-right: 0px dashed #999;
}

.whitbg {
    margin-left: 35px !important;
    width: 83% !important;
}

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {


.modal-content {
    
   
    width: 100%;
	
	
}


.borderright {
    border-right: 0px dashed #999;
}


.whitbg {
    margin-left: 35px !important;
    width: 83% !important;
}
}
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
	
	.whitbg {
		margin-left: 38px !important;
		width: 84% !important;
	}
	
	.borderright {
		border-right: 0px dashed #999;
	}	
}
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: landscape) {

.modal-content {
   
    width: 100%;
	
	
}

.borderright {
    border-right: 0px dashed #999;
}




}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

.modal-content {
   
    width: 100%;
	
	
}

.img-modal-1 img{width:290px!important;}


}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

.modal-content {
   
    width: 100%;
	
	
}


}



